@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;900&family=Philosopher&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.site-container {
  margin: 0 auto;
  position: relative;
  /* width:1140px; */
}

@media only screen and (max-width: 769px) {
  .site-container {
    width:100%;
  }
}

@media (min-width: 770px) {
  .site-container {
    width:1140px;
  }
}

.para {
  line-height: 1.72em;
  margin-bottom: .55em;
  margin-top: .55em;
}

/* a, a:hover, a:focus, a:active {
  color: #8D9C71;
  font-weight: bold;
} */