@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;900&family=Philosopher&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(243,243,243);
}

body {
  background-color: var(--bg-color);
}

.site-container {
  margin: 0 auto;
  position: relative;
}

.nav-container {
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 769px) {
  .nav-width {
    width:100%
  }
  .site-width {
    width:95%;
  }
}

@media (min-width: 770px) {
  .nav-width {
    width:1140px;
  }
  .site-width {
    width:1140px;
  }
}

.para {
  line-height: 1.72em;
  margin-bottom: .55em;
  margin-top: .55em;
}

/* a, a:hover, a:focus, a:active {
  color: #8D9C71;
  font-weight: bold;
} */
